// --------------------- Start
#image-grid {
  img {
    width: 25vw;
  }

  .clicked {
    border: 3px inset grey;
  }

  .handpoint {
    cursor: pointer;
  }

  .row {
    margin-bottom: 2%;
  }
}
// --------------------- ID Styles

// --------------------- Class Styles
.hr-colors {
  border-top: 1px solid black;
}
